.container {
  width: 100%;
  padding: 50px;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: 1rem;
}

.separator {
  flex: 1
}

.pdfContainer {
  flex-direction: column;
  flex: 4;
}