.subtitle-item {
    display: flex;
    border: 1px solid black;
    padding: 0.5rem;
    background-color: white;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    max-height: min-content;
  }
  
  .subtitle-item:hover {
    cursor: grab;
  }
  .subtitle-item:active {
    cursor: grabbing;
  }




.machine-name_container {
    display: flex;
    flex-direction: column;
}
.machine-id {
    font-weight: bold;
}